<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form action="/auth/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <button type="submit">Login</button>
</form>
<br>
<!-- 회원가입 버튼 -->
<p>Don't have an account? <a href="/auth/register">Register here</a></p>
<script>
    const loginForm = document.querySelector('#loginForm');

    loginForm.addEventListener('submit', function (e) {
        e.preventDefault(); // 기본 폼 제출을 막습니다.

        const email = document.querySelector('#email').value;
        const password = document.querySelector('#password').value;

        fetch('/auth/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                email: email,
                password: password,
            }),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Login successful:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
</body>

</html>
